!!!5
%html{class:"no-js", lang:"es"}
	%head
	%meta{charset:"utf-8"}
	%title La mejor cena romantica en Grecia de Andrei
	%meta{name:"Grecia de Andrei está ubicado en Usaquén, una linda zona de la ciudad y consolidada como polo gastronómico de Bogotá. En el restaurante encontramos una ventana a la rica gastronomía griega. Si es la primera vez en visitar el lugar se recomienda pedir el souvlakis (pinchos griegos acompañados de papas horneadas ..."}
	%body


