!!!5
%html{class: "no-js", lang:"es"}
	%head
	%meta{charset: "utf-8"}
		%title La mejor comida en Restaurant Facilito
		%meta{name: "description", content: "como rico en el mejor restaurante de la ciudad, servicio de primera, los mejores tacos de la ciudad."}/
		%link{rel: "stylesheet", href: "/assets/css/normalize.css"}
		%link{rel: "stylesheet", href: "/assets/css/bootstrap.css"}
		%link{rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.0/flexboxgrid.min.css"}
		%link{href:"https://fonts.googleapis.com/css?family=Dancing+Script:400,700", rel:"stylesheet"}
		%link{rel: "stylesheet", href: "/assets/css/style.css"}
		%meta{name: "viewport", content: "width=device-width, initial-scale=1"}/
		%script{src: "/assets/js/vendor/modernizr-2.8.3.min.js"}
	%body
		="<!--[if lt IE 9]>"
		%p{class: "browserupgrade"}
			Estas usando un navegador
			%strong desactualizado
			Por favor
			%a{:href => "http://browsehappy.com/"}
				actualiza tu navegador
			para una mejor experiencia
		="<![endif]-->"
		.video-container
			%video{autoplay: true, loop: true, width: 1280, height: 720, poster: "/assets/video/img/bbq.jpg"}
				%source{src: "/assets/video/bbq.mp4"}/
				%source{src: "/assets/video/bbq.webm"}/
		.row.full-height.middle-xs.center-xs
			.col-xs-12.sobre
				.box
					%img{src: "/assets/imgs/logo.png", width: 200}
					%h1.white-text.dancing-text.white-text.title.no-margin Restaurante Facilito
					%p#is-open.white-text 
						%i.glyphicon.glyphicon-time AbiertoAhora
			%nav.fixed.top.right.white-text.navigation#navigation
				-menu = ["Inicio", "Menu", "Galeria", "Contacto", "Cómo llegar"]
				%ul.list-inline
					-menu.each do |item|
						%li
							%a{:href => "#"}= item
			.absolute.medium.black.large-padding.bottom.white-text.full-width#description Atención cálida y comida preparada por artistas  			
				 
			


	 

