!!!5
%html{class:"no-js", lang:"es"}
	%head
	%meta{charset:"utf-8"}
	%title La mejor cena romantica en Grecia de Andrei
	%meta{name:"Grecia de Andrei está ubicado en Usaquén, una linda zona de la ciudad y consolidada como polo gastronómico de Bogotá. En el restaurante encontramos una ventana a la rica gastronomía griega. Si es la primera vez en visitar el lugar se recomienda pedir el souvlakis (pinchos griegos acompañados de papas horneadas ..."}
	%link{rel:"stylesheet", href:"https://fonts.googleapis.com/css?family=Dancing+Script"}
	%link{rel:"stylesheet", href:"assets/css/normalize.css"}
	%link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.css"}
	%link{rel:"stylesheet", href:"assets/css/style.css"}
	%meta{name:"viewport", content:"width=device-width, initial-scale=1"}
	%script{src:"assets/js/vendor/modernizr-2.8.3.min.js"}
	%body
	="<!--[if lt IE 9]>"
	%p{class:"browserupgrade"}
		Estás usando un navegador
		%strong desactualizado.
		Por favor
		%a{href:"http://browsehappy.com/"}
			actualiza tu navegador para una mejor experiencia
	="<![endif]-->"
	.video-container
		%video{autoplay:true,loop:true,width:"1280",height:"720",poster:"/video/img/bbq.jpg" }
			%source{src:"/assets/video/bbq.mp4",typ:"video/mp4"}
			%source{src:"/assets/video/bbq.webm",typ:"video/webm"}
	.row.full-height.middle-xs.center-xs.relative.up
		.col-xs-12
			.box
				%h1.white-text Restaurante Grecia de Andrei


	 

