!!!5
%html{class: "no-js", lang:"es"}
	%head
	%meta{charset: "utf-8"}
		%link{rel: "stylesheet", href: "/offline/style.css"}
		%title La mejor comida en Grecia de Andrei
		%meta{name: "description", content: "Grecia de Andrei está ubicado en Usaquén, una linda zona de la ciudad y consolidada como polo gastronómico de Bogotá. En el restaurante encontramos una ventana a la rica gastronomía griega. Si es la primera vez en visitar el lugar se recomienda pedir el souvlakis (pinchos griegos acompañados de papas horneadas ...."}/
		%meta{name: "viewport", content: "width=device-width, initial-scale=1"}/
	%body
		%p#message Parece que no pudimos conectarnos a Internet, no hay problema, aqui esta la información que necesitas.
		.container
			%h1 Restaurante Grecia De Andrei
			%p
				%strong Dirección
				Usaquen - Calle 118 #05-63
			%p
				%strong Horario
				10:00 am -- 9:30 pm
			%p 
				%strong Telefono
				7421186
			%p
				%strong Descripcion
				Grecia de Andrei está ubicado en Usaquén, una linda zona de la ciudad y consolidada como polo gastronómico de Bogotá. En el restaurante encontramos una ventana a la rica gastronomía griega. Si es la primera vez en visitar el lugar se recomienda pedir el souvlakis (pinchos griegos acompañados de papas horneadas
			#map
				%img{src:"/assets/imgs/map.jpg"}
				%p Este mapa ofrece referencia 	del lugar del restaurante		
 
